.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border: 4px solid transparent;
    border-bottom: 2px solid #fafafa;
    :hover > h2{
      color: #f1356d;
      }
    & h2 {
        font-size: 20px;
        color: #a7224a;
        margin-bottom: 8px;
    }
  }